/*  inventory */

/*
@media (min-width: 768px){}
@media (min-width: 992px){}
@media (min-width: 1200px){}
*/

/***************** variables ********************/
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-background: #f6f6f6;
}
/************* global rules *******************/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Work Sans", "system-ui";
}
::selection {
  background-color: rgba(170, 170, 170, 0.377);
  color: #607d8b;
}
/*the container that will wrap around every section*/
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
